'.source.vhdl':
  'asynchronous process':
    'prefix': 'apro'
    'body': '${1:identifier} : process(${2:clock}, ${3:reset})\nbegin\n\tif ${3:reset} = \'1\' then\n\t\t$0\n\telsif rising_edge(${2:clock}) then\n\t\t\n\tend if;\nend process;'
  'architecture':
    'prefix': 'arch'
    'body': 'architecture ${1:arch} of $1 is\n\n\tsignal $0\n\nbegin\n\nend architecture;'
  'case':
    'prefix': 'case'
    'body': 'case( ${1:signal_name} ) is\n\n\twhen ${2:IDLE} =>\n\t\t$0\n\n\twhen others =>\n\nend case;'
  'else':
    'prefix': 'else'
    'body': 'else\n\t$0'
  'elsif':
    'prefix': 'elsif'
    'body': 'elsif ${1:expression} then\n\t$0'
  'entity':
    'prefix': 'ent'
    'body': 'entity $1 is\n  port (\n\t${0:clock}\n  );\nend entity;'
  'entity architecture':
    'prefix': 'entarch'
    'body': 'entity $1 is\n  port (\n\t${0:clock}\n  );\nend entity;\n\narchitecture ${2:arch} of $1 is\n\n\n\nbegin\n\n\n\nend architecture;'
  'for loop':
    'prefix': 'for'
    'body': '${1:identifier} : for ${2:i} in ${3:0} to ${4:10} loop\n\t$0\nend loop;'
  'for generate':
    'prefix': 'forg'
    'body': '${1:identifier} : for ${2:i} in ${3:x} to ${4:y} generate\n\t$0\nend generate;'
  'if':
    'prefix': 'if'
    'body': 'if ${1:expression} then\n\t$0\nend if;'
  'if generate':
    'prefix': 'ifg'
    'body': '${1:identifier} : if ${2:i} generate\n\t$0\nend generate;'
  'package':
    'prefix': 'pack'
    'body': 'package $1 is\n\t$0\nend package;'
  'process':
    'prefix': 'pro'
    'body': '${1:identifier} : process(${2:sensitivity_list})\nbegin\n\t$0\nend process;'
  'signed downto':
    'prefix': 's'
    'body': 'signed(${1:x} downto ${2:0});$0'
  'signed range':
    'prefix': 'sr'
    'body': 'signed(${1:signal}\'range);$0'
  'synchronous process':
    'prefix': 'spro'
    'body': '${1:identifier} : process(${2:clock})\nbegin\n\tif rising_edge(${2:clock}) then\n\t\t$0\n\tend if;\nend process;'
  'std_logic_vector downto':
    'prefix': 'slv'
    'body': 'std_logic_vector(${1:x} downto ${2:0});$0'
  'std_logic_vector range':
    'prefix': 'slvr'
    'body': 'std_logic_vector(${1:signal}\'range);$0'
  'unsigned downto':
    'prefix': 'u'
    'body': 'unsigned(${1:x} downto ${2:0});$0'
  'unsigned range':
    'prefix': 'ur'
    'body': 'unsigned(${1:signal}\'range);$0'
  'vhdl template':
    'prefix': 'vhdl'
    'body': 'library ieee;\n\tuse ieee.std_logic_1164.all;\n\tuse ieee.numeric_std.all;\n\nentity $1 is\n  port (\n\t${0:clock}\n  );\nend entity;\n\narchitecture ${2:arch} of $1 is\n\nbegin\n\nend architecture;'
  'while':
    'prefix': 'while'
    'body': '${1:identifier} : while ${2:expression} loop\n\t$0\nend loop;'
